.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: baseline;
  border-bottom: 1px solid black;
  padding: 0.8rem 0;
}

.product {
  max-width: 35%;
}
.size {
  font-size: 0.9rem;
}
.summary {
  font-weight: 600;
  font-size: 0.9rem;
}

.title {
  font-size: 0.7rem;
}

.delete {
  font-size: 1.5rem;
}
