.cart {
  position: fixed;
  top: 5rem;
  right: 0;
  width: 100%;
  background-color: white;
  padding: 1rem;
  z-index: 10;
  transition: 0.4s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.title {
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  background-color: lightgray;
  border-radius: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0;
}

.cart.active {
  right: -100%;
}

.buy {
  display: block;
  margin: 0 auto;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  background-color: lightgray;
  cursor: pointer;
  border: none;
}

.buy:hover {
  color: white;
}
