@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap");

:root {
  --main-bg-color: #efefef;
  --second-bg-color: lightgrey;
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

* {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: Inter, Arial, sans-serif;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 24px;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 28px;
  }
}
